name: Test

on:
  pull_request:
    paths:
      - ".github/workflows/test.yaml"
      - "**.py"
      - "Makefile"
  push:
    paths:
      - ".github/workflows/test.yaml"
      - "**.py"
      - "Makefile"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  test:
    name: ${{ matrix.os }} / ${{ matrix.python_version }}
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os: [Ubuntu, Windows, macOS]
        python_version:
          ["3.7", "3.8", "3.9", "3.10"]
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        name: Install Python ${{ matrix.python_version }}
        with:
          python-version: ${{ matrix.python_version }}
          cache: "pip"
          cache-dependency-path: |
            **/requirements/*.txt
      - uses: ankane/setup-postgres@v1
        name: Install Postgres
        with:
          postgres-version: 14
      - name: Create postgres user
        run: psql -d postgres -c "CREATE USER test_user WITH LOGIN SUPERUSER PASSWORD 'password';"
      - name: Install nox
        run: python3 -m pip install nox
      - name: Run nox
        env:
          PYTHONPATH: .
          INTERPRETER: ${{ matrix.python_version }}
          DB_DSN: postgresql://test_user:password@localhost:5432/pytest_sqlalchemy_session_test
        run: nox --error-on-missing-interpreters -s tests-${INTERPRETER}
        shell: bash